#pragma once

#include <string>
#include <vector>
#include <functional>
#include <iostream>
#include "Test.h"


namespace test
{
    class TestTemplate : public Test
    {
        public:
            TestTemplate();
            virtual ~TestTemplate();

            virtual void OnUpdate(float deltaTime);
            virtual void OnRender();
            virtual void OnImGuiRender();
    };
}
