#include "TestTemplate.h"
#include "imgui.h"
#include "Debug.h"

namespace test
{
    TestTemplate::TestTemplate() :
        m_Renderer()
    {

    }

    TestTemplate::~TestTemplate()
    {

    }

    void TestTemplate::OnUpdate(float deltaTime)
    {
    
    }

    void TestTemplate::OnRender()
    {
        m_Renderer.Clear();
    }

    void TestTemplate::OnImGuiRender()
    {

    }
}
